In [216]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [217]:
#reading the dataset
data=pd.read_csv(r'C:\Users\amrut\Downloads\DSA\week11\Q&A\student-data.csv')

In [218]:
#number of rows and columns
data.shape

(395, 31)

In [219]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,passed
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,no,4,3,4,1,1,3,6,no
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,no,5,3,3,1,1,3,4,no
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,no,4,3,2,2,3,3,10,yes
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,3,2,2,1,1,5,2,yes
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,no,4,3,2,1,2,5,4,yes

In [220]:
#checking null values
data.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
passed        0
dtype: int64

There is no null values

In [221]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  passed      395 non-null    object
dtypes: int64(13), object(18)
memory usage: 95.8+ KB

In [222]:
#splitting dataset into x and y
x = data.drop(['age','address','famsize','Pstatus','Medu','Fedu','reason','guardian','famsup','paid','nursery','higher',
               'internet','romantic','famrel','schoolsup','passed'],axis=1)
y = pd.DataFrame(data['passed'])

In [223]:
#checking number of zero's and one's in the (o/p) column
x['school'].value_counts()

GP    349
MS     46
Name: school, dtype: int64

In [224]:
#checking the percentage value
data['activities'].value_counts()

yes    201
no     194
Name: activities, dtype: int64

In [225]:
#categorical columns convert into numerical value
x = pd.get_dummies(x, columns=['school','activities','sex'])
y = pd.get_dummies(y, columns=['passed'])
x.head()

,Mjob,Fjob,traveltime,studytime,failures,freetime,goout,Dalc,Walc,health,absences,school_GP,school_MS,activities_no,activities_yes,sex_F,sex_M
0,at_home,teacher,2,2,0,3,4,1,1,3,6,1,0,1,0,1,0
1,at_home,other,1,2,0,3,3,1,1,3,4,1,0,1,0,1,0
2,at_home,other,1,2,3,3,2,2,3,3,10,1,0,1,0,1,0
3,health,services,1,3,0,2,2,1,1,5,2,1,0,0,1,1,0
4,other,other,1,2,0,3,2,1,2,5,4,1,0,1,0,1,0

In [226]:
x.shape

(395, 17)

In [227]:
x.columns

Index(['Mjob', 'Fjob', 'traveltime', 'studytime', 'failures', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'school_GP', 'school_MS',
       'activities_no', 'activities_yes', 'sex_F', 'sex_M'],
      dtype='object')

In [228]:
x['pjob']=x['Mjob']+['Fjob']
x['freetimes']=x['freetime']+x['goout']
x=x.drop(['Mjob','Fjob','freetime','goout'],axis=1)

In [229]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   traveltime      395 non-null    int64
 1   studytime       395 non-null    int64
 2   failures        395 non-null    int64
 3   Dalc            395 non-null    int64
 4   Walc            395 non-null    int64
 5   health          395 non-null    int64
 6   absences        395 non-null    int64
 7   school_GP       395 non-null    uint8
 8   school_MS       395 non-null    uint8
 9   activities_no   395 non-null    uint8
 10  activities_yes  395 non-null    uint8
 11  sex_F           395 non-null    uint8
 12  sex_M           395 non-null    uint8
 13  pjob            395 non-null    object
 14  freetimes       395 non-null    int64
dtypes: int64(8), object(1), uint8(6)
memory usage: 30.2+ KB

In [230]:
x=x.drop(['pjob'],axis=1)

In [231]:
#split the data into training and testing set
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=42)

In [232]:
#predicting the value
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(x_train,y_train)
y_pred = rf.predict(x_test)

In [233]:
from sklearn.metrics import f1_score,confusion_matrix
print('f1_score:',f1_score(y_test,y_pred,average='weighted'))
print('confusion_matrix:',confusion_matrix(y_test.values.argmax(axis=1),y_pred.argmax(axis=1)))

f1_score: 0.6047112178204614
confusion_matrix: [[11 35]
 [ 6 67]]

In [234]:
#feature importance
pd.Series(rf.feature_importances_,index=x.columns).sort_values(ascending = False)*100

absences          17.949832
freetimes         17.761198
failures          12.150138
health            11.082937
Walc               8.748416
studytime          7.525490
Dalc               6.067489
traveltime         5.933667
sex_F              2.684137
activities_yes     2.589758
sex_M              2.361477
activities_no      2.326707
school_GP          1.412175
school_MS          1.406581
dtype: float64

In [235]:
rf.fit(x_train,y_train)

RandomForestClassifier()

In [236]:
rft= RandomForestClassifier(n_estimators=500,max_depth=10,random_state=42,criterion="entropy")
rft.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, n_estimators=500,
                       random_state=42)

In [215]:
y_pred=rft.predict(x_test)
f1_score(y_test,y_pred,average='weighted')

0.5784815732350178